<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add
            key="AppTitle"
            value="TranslateCS2 - an unofficial Translator-Tool for Cities: Skylines 2" />
        <add
            key="AppMinHeight"
            value="800" />
        <add
            key="AppMinWidth"
            value="1200" />
        <add
            key="AppMenuRegion"
            value="AppMenuRegion" />
        <add
            key="AppRibbonBarRegion"
            value="AppRibbonBarRegion" />
        <add
            key="AppMainRegion"
            value="AppMainRegion" />
        <add
            key="AppNewEditSessionRegion"
            value="NewEditSession" />
        <add
            key="AssetPath"
            value="TranslateCS2.Assets." />
        <add
            key="DatabaseNameTranslations"
            value="Translations.sqlite" />
        <add
            key="LeadingLocFileName"
            value="en-US.loc" />
        <add
            key="CheckLatestURL"
            value="https://raw.githubusercontent.com/suluknumoh/TranslateCS2/main/latest" />
    </appSettings>
    <connectionStrings>
        <add
            name="Translations.sqlite"
            providerName="SqliteConnection.SqliteConnectionFactory"
            connectionString="Data Source=./Translations.sqlite;Pooling=False" />
    </connectionStrings>
</configuration>