<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
            name="CustomFilters"
            type="TranslateCS2.Core.Configurations.CustomFilters.FiltersSection, TranslateCS2.Core" />
    </configSections>
    <appSettings>
        <add key="DatabaseMaxBackUpCount" value="20"/>
    </appSettings>
    <CustomFilters>
        <filters>
            <!-- checkmethods = "StartsWith" or "Contains" -->
            <!-- values are comma seperated -->
            <!--
            <add name="tutorial (example)" values="tutorial" checkmethod="StartsWith" />
            <add name="achievements and assets (example)" values="achievements,assets" checkmethod="StartsWith" />
            -->
            <add name="descriptions" values=".description,_description" checkmethod="Contains" />
            <add name="names" values=".name,_name" checkmethod="Contains" />
            <add name="titles" values=".title,_title" checkmethod="Contains" />
        </filters>
    </CustomFilters>
</configuration>